/* HyperSet style sheet */
/*		*/
* {font-family: Arial, Helvetica, sans-serif;
   }
  
.scalable-font-small {
	font-size: 0.7vw;
}
.scalable-font-medium {
	font-size: 0.8vw;
}
.scalable-font-large {
	font-size: 0.9vw;
}
  
body { 
color: #2e6e9e;
background-color: white; 
font-size: small; 
font-weight: normal;
}


/*@media screen and (min-resolution: 96dpi) {
	body {
		font-size: x-large;
	}
}
@media screen and (min-resolution: 192dpi) {
	body {
		font-size: x-large;
	}
}*/


/*CHANGE BEGIN*/
div,p,.text-content {
color: #2e6e9e;
}

input {
	border-width: 1px;/* to fix Chrome's ugly borders */
}

input[type="checkbox"] { /*this only works in Chrome. Firefox does not support checkbox styling https://stackoverflow.com/questions/4148499/how-to-style-a-checkbox-using-css
*/
	border-width: 1px;
	border-color: #654b24;
	border-radius: 3px;
	}

.parameter_area {
border-style: solid;
border-width: 1px; 
border-color: #cbc7bd;
border-radius: 6px;
}
/*CHANGE end*/
p.over {
	margin: 5px;
	font-size: 1.1em;
	font-weight: 550;
}

span.highlighted {
color: #e17009;
font-weight: 700;
}

.main_header {
	background-color: #AED0EA; 
	width: 98%; 
	padding: 5px;
    margin: 5px 50px 5px 10px;
	text-align: center; 
	font-size: x-large; 
	font-weight: bold; 
	color: #1d5987;
}

.xmlhttp_header {
	background-color: #eeeeee; 
	width:90%; 
	padding: 10px;
    margin: 10px;
	text-align: center; 
	font-size: x-large; 
	font-weight: bold; 
	color: #ffffff;
	display: none;
}

.hidden {
	visibility: hidden;
}

.main_nea  {
    float: left;
    width: 97%;
    margin-left: 16px;
    min-width: 800px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000; 
    top:        0px;
    left:       0px;
    height:     75%;
    width:      100%;
    background: rgba( 245, 245, 245, .8 ) url('https://research.scilifelab.se/andrej_alexeyenko/pics/ajax-loader.gif') 50% 50%  no-repeat;
}

.nea_loading  {
    display: 	block;
    position:   fixed;
    z-index:    10000; 
    top:        350px;
    left:       0px;
    height:     250px;
    width:      100%;
    background: rgba( 245, 245, 245, .8 ) url('https://research.scilifelab.se/andrej_alexeyenko/pics/ajax-loader.gif') 50% 50%  no-repeat;	
}

.loading  {
    display: block;
}

.ajax_loading  {
    position:   fixed;
    z-index:    1000; 
    /*top:        0;
    left:       0px;*/
    height:     100%;
    width:      100%;
    background: rgba( 245, 245, 245, .5 ) url('https://research.scilifelab.se/andrej_alexeyenko/pics/ajax-loader.gif') 50% 50%  no-repeat;
    display: block;
}

.top_menu {
    float: left;
    /*width: 50%;*/
    min-width: 600px;
    min-height: 1px;
    margin-left: 24px;
	font-size: small;
}

.archive_dialog {
    float: left;
    width: 80%;
    min-width: 800px;
    min-height: 1px;
    margin-left: 24px;
	font-size: x-small;
}


.file_progress { 
	position:relative; 
	width: 400px; 
	border: 1px solid #AED0EA; 
	margin: auto;
	padding: 1px; 
	text-align: center; 
	border-radius: 5px; 
	display: inline-block;
}

.file_bar { 
	background-color: #E87009; 
	width:0%; 
	height:20px; 
	border-radius: 3px; 
}

.file_percent { 
	position:absolute; 
	display:inline-block; 
	top:3px; 
	font-weight: 800;	
	color: #2E6E9E;
}


.notifications_on::before {
	content: "✓ ";	
    color: green; 
}

.notifications_on::after {
	content: 'Receive global notifications by email       '; 
    color: green; 
}

.notifications_off::before {
	content: "× ";	
	color: red; 
}
.notifications_off::after {
	content: "Do not receive global notifications by email"; 
    color: red; 
}

span.ui-icon {
	background-color: white; 
	color: #2e6e9e;
	display: inline-block;
	border-radius: 4px;
}

.ui-icon:not(.icon-static, .adj-icon):hover { /*, .adj-icon*/
	border-style: 	inset;
	border-color: 	#aa0000;
	border-width: 	0.65px;
	box-shadow: 	3px 2px 1px 1px;
}

.ui-icon-circle-close:hover{
   box-shadow: 3px 3px 15px #ff0000; 
}

	
.standby {
	opacity: 0.35
	}

.demo_button {
	display: inline-block;
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 0px;
	margin-left: 6px;
	}

	
.showme {
	display: inline-block;
	width: 48px;
	height: 42px;
}	

.extra_info {
	display: block-inline;
	width: 240px;
	text-align: left;
	font-size: x-small;
	clear: left;
	margin: 8px;
}

.display_user {
	display: inline;
	float: left;	
	font-size:10px; 
	padding:10px;
	}

.table_format {
padding: 8px;	
margin-right: 27px;
border-right: 2px dotted #AED0EA; 
color: #2779AA;
font-size: small;
}

:root {
  --color: #aaa;
}

::-webkit-input-placeholder:not(.sbm-ags-controls) { /* WebKit, Blink, Edge */
    color:    var(--color);
}
:-moz-placeholder:not(.sbm-ags-controls) { /* Mozilla Firefox 4 to 18 */
   color:    var(--color);
   opacity:  1;
}
::-moz-placeholder:not(.sbm-ags-controls) { /* Mozilla Firefox 19+ */
   color:    var(--color);
   opacity:  1;
}
:-ms-input-placeholder:not(.sbm-ags-controls) { /* Internet Explorer 10-11 */
   color:    var(--color);
}
::-ms-input-placeholder:not(.sbm-ags-controls) { /* Microsoft Edge */
   color:    var(--color);
}

span.authent {
	padding: 20px 0;
	text-align: center;
	margin: 20px;
}
button.authent {
    width: auto;
	padding: 10px 0;
	text-align: center;
	margin: 20px;
}

.sbm-ags-controls {
    width: auto;
    /*font-size: 0.75em;
	height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 20px;*/
}

.file_ipload {
height: 20px;
}

.h2main {
    display: inline-block;
    width: auto;
    height: 35px;
    margin: 10px;
    border: 0px; 	
}

.h2div {
font-size: x-large;	
color: #2779AA;
}

.actual {
color: #ff4444;
font-weight: 900;	
}

.purported {
color: #888888;
text-decoration: line-through;
font-weight: 300;	
}


.icon-big {
	font-size: 200%;
}

.vennhdlineOpener {
color: #E87009;
cursor: pointer;
}

.sbm-icon { 
	border-style: 	inset;
	border: 0; 
	background-color: white;	
}

.icon-ok:hover { 
	box-shadow: 	4px 3px #00dd00;
	-webkit-border-radius: 3px;
}

/*.upload-button-inactive {
	color: #7799aa;
	border-color: #7799aa;
	background-color: #5c9ccc;
}*/

.icon-warn:hover { 
	box-shadow: 	4px 3px #ff3333;
}
/**/
.file-table-submit {
    padding: 5px; 
    background: #5c9ccc; 
    border: 1px solid #dfeffc;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}


.clickable {
color: #2779AA;
text-decoration: underline;
cursor: pointer;
}

.clickable:hover {
color: #2779ff;
font-style: italic;
text-decoration: underline;
}

.lock {	
    position: absolute;
    left: 0px;
    top: 60px;
	width: 800px;
    height: 60px;
display: block;
z-index: 1000;
}

.tempdisabled {	
color: #9D9D9D; 
opacity: 0.5;
}

.rplot {
  height: 	1500px;
  width: 	1500px;
}

img {border-width: 0;
     padding: 0;
     margin: 0; }

img.pubmed {
  height: 	14px;
  width: 	auto;
}

span.pubmed {
font-weight: 800;
}

.stats  {
border-style: solid;
                 border-color: lightgray;
                 border-width: 2px 0 0 2px;
                 margin-bottom: 4px; }
   
.cy_main {
  height: 675px;
  width: 70%;
  background-color: white;
  position: relative;
  z-index: 9;
  left: 0px;
  top: 0px;
  float: left;
}

.cyMenu  {
	/*border: 1px solid #777733;*/ 
	height: auto; 
	/*top: 100px; left: 10px;*/
	width: 22%;
	z-index: -1;
	padding: 0.5em; 
	float: left;
}


.cyMenuNet  {
	border-width: 1px;
	width: 200px;
}

/*.cySlider {
display: compact;
margin: 15px;
}*/

button.cs_subnet {
background-color: #F8A039;
font-size: 1em;
}
.vennSlider {
display: compact; 
margin: 5px;
}

/*.vennLabel {
display: inline;
margin: 0px;
position: relative; 
left: -5px; 
top: 40px;
}*/

.hiddenFileNameBox  {
text-align: right; 
display: none;
}

.analysis_step_area {
       width: 600px;
        /*height: 480px;*/
}

.net {color: brown;}
.usr {color: #0000AA;}
.checkbeforesubmit {
	color: #000077;
	background-color: #eeeeee;
	}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.visible  {
    display: block;
}

.clickmap {
    display:    block;
    position:   relative;
    z-index:    1000;
    top:        0px;
    left:       0px;
    height:     750px;
    width:      875px;
    background: rgba( 250, 250, 250, .95 ) 
                /* url('https://research.scilifelab.se/andrej_alexeyenko/pics/venn_map_2.gif') 
				http://ajaxload.info/ */
                50% 50% 
                no-repeat;
	opacity:0.1;
	/*background-size:875px 750px;			*/

}
/*style="margin: 0 auto; width: 430px; height: 300px" */
.venn-highlight {
display: none; 
z-index:    900; 
position: relative;
height:     25px;
width:      25px;
background: rgba(45, 245, 45, .7);
} 

.venn-highlight-enable {
visibility: visible;
} 


/*.page_not_ready  {
    display: 	block;
    position:   fixed;
    z-index:    10000; 
    height:     100%;
    width:      100%;
    background: rgba( 225, 225, 225, .8 ) url('https://research.scilifelab.se/andrej_alexeyenko/pics/ajax-loader.gif') 75% 75%  no-repeat;	
}*/


button[disabled] {
	box-shadow: none; 
}

.subheader {
font-size: 1.2em;
font-weight: 600;
	}

.spinNumber {
	display: inline; 
	/*float: right; */
	width: 3em; 
}

table.redmond_ui_table td {
	border: 0px solid #c5dbec;
	margin: 10px;
	background-color: white; 
	color: #2e6e9e;
}

table.parameter_overview {
	border: 1px solid #c5dbec;
}

table.parameter_overview td {
	border: 1px solid #c5dbec;
	margin: 3px;
	padding: 15px;
	/*background-color: white; 
	color: #2e6e9e;*/
}

p.parameter_options1 {
	display: inline-block;
	font-size: 90%;
	padding-left: 30px;
}

p.parameter_options2 {
	float: right;
	clear: both;
	font-size: 90%;
}


td.parameter_area_disabled {
	border: 1px solid #a6c9e2;
	color: #aaaaaa;
}

td.parameter_area_enabled {  
	border: 2px solid #c5dbec;
	/*color: #aaaaaa;*/
}

.inputareadisabled {
	color: #aaaaaa;
}

.inputareahighlight {  
border: 1px solid #a6c9e2;
box-shadow: 5px 5px 10px; 
}

.inputarea {  
margin:3px 3px 3px;
padding:5px 5px 5px;
}

.dialoghighlight { 
box-shadow: 5px 5px 10px #e17009 ; 
}

.projecthighlight {  
background: #31b131;
color: #31b131;
border: 2px solid 00bbbb;
box-shadow: 15px 15px 30px #00ff00;  
}

.rowhighlight {  
color: #b1b131;
/*border: 1px solid bbbbbb; background-color: #31b131; box-shadow: 15px 15px 30px #00ff00;  */
}

.demohighlight {  
background-color: #ffffaa;
border: 3px solid red;
box-shadow: 10px 10px 30px; 
}

select:invalid  {    color: #777777;}

.check {
background-color: #aaffaa;
border: 1px solid green;

}

.checkboxhighlight {
box-shadow: 3px 3px 15px #ffff00; 
display: inline; 
}


     .toggler {
        width: 500px;
        height: 200px;
    }
	
    #button {
        padding: .5em 1em;
        text-decoration: none;
    }

.TCGA_tumor {
color: #992; 
}

.TCGA_normal {
color: #0A0; 
}

.TCGA_tumor_vs_normal {
color: #AAF; 
}

.TCGA_blood {
color: #F00; 
}

.nea_table {
/*background-color: #DDD; 
color: #441; */
align: right; 
font-weight: 300;
}

.AGSout {
/*background-color: #EE8; */
color: #330; 
text-align:left; 
}
	 
.FGSout {
color: #330; 
text-align:left; 
}

.next_tab {
	float: right;
	clear: both;
}

.js_ui_help {
	float: right;
	clear: both;
	font-size: large;
	color: #E87009; 
	margin: 7px;
}

.js_ui_help > span {
	color: #E87009; 	
}

label.js_ui_help {
	display: inline-block;
	width: 5em;
}	 

.main_ajax_menu	   {
	text-align:left;
	width: 97%
}

.normal_menu  {
	text-align:left;
}

.contrast_choice_header {
	font-weight: bold;
	font-size: 1em;
	font-family: Courier;
	background-color: #ccccaa;
	color: #551122;
	border: 1px solid grey;
	padding:5px;
	margin-top:40px;
	margin-bottom:60px;
	margin-right:20px;
	margin-left:30px;
}

.contrast_choice {
background-color: #88aaaa;
color: #668888;
font-size: 1em;
}

.smaller_font {
font-size: 0.75em;
}

.contrast_choice td{
vertical-align: top;
text-align:right;
font-size: 1em;
border-style: solid;
border-width: 0 1px 1px 0; 
border: 1px solid grey; 
padding:5px;
border-collapse:separate;
margin-top:20px;
margin-bottom:30px;
margin-right:10px;
margin-left:20px;
empty-cells:hide;
}

.fdr_levels, .fold_change_levels  {
background-color: lightgrey;
width:3em;
font-size: 0.9em;
}

td.active {
background-color: #44bb99;
color: #0055bb;
}

td.counteractive {
background-color: #bb4444;
color: #0055bb;
}

#analysis_type_ {
height:500px;
width:100px; 
background-color: blue; 
}

.being_removed {
/*background-color: #ff8888;*/
text-decoration: line-through;
color: red;
}



.venn_popup{
 position:absolute; 
 right:200px; 
 margin:100px auto; 
 width:480px;
 height:360px; 
 font-family:verdana; 
 font-size:13px; 
 padding:10px;
 background-color:rgb(240,240,240); 
 border:2px solid grey;
 z-index: 9; 
 overflow:auto; 
 display:none;
}

span.venn_box_control {
	display: inline-block;
}

.cyTextHalf {
width: 40%;	
}

.submit_list_gs {
	width: 480px;
	}
	
.alternative_input[disabled] {
	pointer-events:none;
	}

/*table.dataTable tbody td {
	padding: 4px 4px;
}*/
	
.venn_row {
	font-size: 9px;
	color: #666666;
	padding: 4px 4px;
}

.venn_box_width {
	left: 0px;
	width: 97%;
	}
	
.venn_box_height {
		top: 5px; 
		height: 95%;
	}

.venn_box_control:hover{
   /*background:rgb(255,150,50);*/
   box-shadow: 3px 3px 15px #0055ff; 
}

/*.ags_box_title {}*/

.venn_box_title {
display: inline-block;
font-size: 15px; 
width: 70%; 
height: 30px; 
color: #666666;
margin: auto; 
text-align: center;
cursor: move;
}
#venn-clear-bar {
	cursor: move;
}

.venn_box_head {
background-color: #b0b0b0;
padding:5px;
}

.gene_name {
cursor: help;
color: #2779AA;
}

.gene_name:hover {
color: #0000AA;
text-decoration: underline;
}

.info {
padding:5px;
}

.commandline {
	color: white;
	background-color: black; 
	border:2px solid grey;
	font-family:courier; 
	font-size:12px; 
	left: 20px;
	top: 20px; 
	padding:10px;
	width:75%;
	height:7em; 
	overflow:auto; 
	display:block;
}

.cyText {
	width: 80%;
}

.switchOn {
   background:rgb(255,100,100);
}

.qtip-select,.qtip-spinner {
	width: 6em; 
	height: 1.75em;
	font-weight: bold;
	font-size: 10px;
}

iframe {
    border:none;
}